.card1 .title0 , .card2 .title0 , .card3 .title0 {
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;
}
.card2 .title0 , .card3 .title0 {
    font-size: 38px;
}
.card1 .title0::after , .card2 .title0::after , .card3 .title0::after {
content: '';
display: block;
width: 219px;
height: 5px;
background-color:#045C24;
margin: 51px 0px;
}
.card1 .subt0 , .card2 .subt0 , .card3 .subt0 {
    font-size: 20px;
    color:#A6A2A2;
    max-width: 370px;
    margin-left: 36px;
    font-weight: bold;
    background:none;
}
.subt0 span {
    color:#045C24;
    background:none;
}
.card1 , .card2 , .card3 {
    width: 435px;
    height: 614px;
    border: 3px solid #d1d1d1;
    border-radius: 50px;

}

.img1 {
    width: fit-content;
    margin-top: 33px;
    margin-left: 38px;
    margin-bottom: 42px;
}
.img2 {
    width: fit-content;
   margin-top: 32px;
   margin-left: 43px;
   margin-bottom: 46px;
}
.img3 {
    width: fit-content;
    margin-top: 32px;
    margin-left: 49px;
    margin-bottom: 40px;
 }
 .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 200px;
    z-index: 2;
    position: relative;
    background:none;
    
 }
 .card1 {
    margin-left: 30px;
 }
 .card3 {
    margin-right: 30px;
    box-shadow: 0 0 40px rgba(0, 145, 12, 0.5);
    cursor: pointer;
    position: relative;


 }
 .card1, .card2 {
    transition: color 0.5s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    position: relative;
 }

 .card1:hover, .card2:hover {
 box-shadow: 0 0 40px rgba(0, 145, 12, 0.5);
 }
 .bg-of-card {
    position: absolute;
    top: 130%;
    right: -4%;
    background:none;
    z-index: 1;
 }
 
 @media (max-width: 1030px) {
    .cards {
        margin-top: 280px;
     
    }
    .card1, .card2, .card3 {
        transform: scale(0.8); /* Примерный масштаб, вы можете установить нужное значение */
        transform-origin: top
         center; 
         height: 90%;

     
        
    }
    
    .card1 {
        margin-left: 0;
    }
    .card3 {
        margin-right: 0;

    }
    .image1, .image2 , .image3 {
        width: 70px;
    }
 .card1 .title0, .card2 .title0 , .card3 .title0 {
    font-size: 26px;
    margin-left: 20px;
  }
  .card3 .title0 {
    margin-left: 28px;
  }
  .card2 .title0 {
    margin-left: 38px;
  }
  
  .card1 .subt0 , .card2 .subt0 ,.card3 .subt0 {
    font-size: 18px;
    margin-left: 25px;
    width: 85%;
    margin-bottom: 45px;
  }
  .card2 .subt0 {
    margin-bottom: 67px;
  }
  .card3 .subt0 {
    margin-bottom: 30px;
  }
  .bg-of-card {
    width: 80%;
    position: absolute;
    top:112%
  }
 }
 @media (max-width: 780px) {
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top: 350px;
  }
  .card1, .card2, .card3 {
    transform: scale(0.9); /* Примерный масштаб, вы можете установить нужное значение */
    transform-origin: top
     center; 
     height: 90%;
}
.card1 .title0, .card1 .subt0 {
  margin-left: 40px;
}
.card1 {
  transform-origin: center
  center; 
}
.card3 {
  transform-origin: top
  center; 
  margin-top: -20px;
}
.card3 .subt0 {
  margin-bottom: 50px;
}
.bg-of-card {
  width: 105%;
  position: absolute;
  top: 158%;
}
 }
 @media (max-width: 600px) {
  .card1, .card2, .card3 {
    transform: scale(0.9); /* Примерный масштаб, вы можете установить нужное значение */
    transform-origin: top
     center; 
    margin: 0px 100px;
    width: 80%;
}
.bg-of-card {
  width: 120%;
  right: -70px;
}
 }
 @media (max-width: 378px) {
  .card1, .card2, .card3 {
    margin: 0;

  }
  .card1 .title0, .card2 .title0, .card3 .title0  {
    margin-left: 20px;
    font-size: 20px;
  }
  .card1 .title0::after, .card2 .title0::after, .card3 .title0::after  {
    width: 40%;
    height: 4px;
    margin: 30px 0px ;
 }
 .card1 .subt0, .card2 .subt0, .card3 .subt0  {
font-size: 13px;
margin-left: 20px;
 }
 .img1, .img2 , .img3 {
  width: 60px;
  margin-left: 30px;
}
.cards {
  margin-top: 250px;
}

}