.login123 {
    overflow-y: hidden;
    height: 730px;
}


.logo-log {
    margin-top: 10px;
    margin-left: 20px;
    z-index: 4;
    position: relative;
    width: fit-content;
}
.login-box {
    width: 502px;
    height: 584px;
    background-color: #1D1D1D;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    border-radius: 48px; 
    transition: all 0.3s ease;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    margin-top: 20px ;
    margin-left: 94px;
    z-index: 2;

}
.login-box:hover {
    box-shadow: 0 0 40px rgba(4, 96, 21, 0.538);

}
.title-login {
    font-size: 52px;
    color: #fff;
    font-family: 'Inter', sans-serif;
    background: none;
    width: fit-content;
    font-weight: 800;
    margin-top: 36px;
    margin-bottom: 50px;

}
.input-login {
    display: flex;
    flex-direction: column;
    background:none;
}
input  {
    background:none;
    width: 432px;
    height: 62px;
    background-color: #383838;
    color: #a8a8a8;
    font-size: 26px;
    font-family: 'Inter', sans-serif;
    border-radius: 22px;
    font-weight: 800;
    margin-bottom: 20px;
    border:none;
    box-sizing:border-box;
    padding-left: 20px;

}
input::placeholder{
color:#696767;
}
input:focus {
    border: 2px solid #045C24;
    outline: none;
}
.button-login {
    font-size: 34px;
    background: none;
    font-weight: 800;
    color:#045C24;
    padding: 12px 68px;
    border-radius: 23px;
    border: 3px solid #045C24;
    cursor: pointer;
    transition: all ease 0.4s;
    margin-top: 100px;
    margin-bottom: 45px;
}

.button-login:hover {
    border: 3px solid #018b34;
    color:#018b34;
}
.dont-have-acc {
    display: flex;
    flex-direction: row;
    background:none;
}

.dont-have {
    color:#fff;
    font-weight: 100;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    background:none;
}
.button-signup {
    color: #ffff;
    font-family: 'Inter', sans-serif;
    margin-left: 16px;
    font-size: 32px;
    transition: all 0.5s ease;
    background:none;
    cursor: pointer;
    margin-top: -5px;
}

.button-signup:hover {
    color:#afafaf;
    
}
.login-all {
    display: flex;
    flex-direction: row;
}
.hand-login {
    position: absolute;
    right: -25px;
    top: 92px;
}
.money-log {
    position: absolute;
    top: -50px;
    left: -40px;
    background:none;
    z-index: 1;
    height: 780px;
    animation: fadeInFromOne 1.8s ease-in-out forwards;
}
.money-login {
    background:none;
    height: 783px;
}




@keyframes fadeInFromOne {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}


@media (max-width:800px) {
    .money-login {
           width: 109%;
       }
       .logo-log {
           transform: scale(0.8); /* Примерный масштаб, вы можете установить нужное значение */
       transform-origin: top
        left;
       }
   }
   @media (max-width:600px) {
   .login-box {
       transform: scale(0.8); /* Примерный масштаб, вы можете установить нужное значение */
       transform-origin: top
        center; 
   }
   }@media (max-width:450px) {
       .login-box {
           transform: scale(0.7); 
           transform-origin: top
            center; 
            height: auto;
       }
       
       .input-login0 {
           width: 360px;
       }
       .logo-log {
           transform: scale(0.6);
       transform-origin: top
        left;
    }
       .button-login {
           padding: 12px 40px ;
       }
       .title-login {
           font-size: 47px;
           margin-top: 20px;
       }
       .dont-have-acc {
           margin-top: 40px;
           margin-bottom: 20px;
       }
       
   }
   
   @media (max-width:400px) { 
       .input-login0 {
           transform: scale(0.9); /* Примерный масштаб, вы можете установить нужное значение */
           transform-origin: top
            center; 
            height: auto;
            height: 48px;
       }
       .button-login {
           transform: scale(0.8); /* Примерный масштаб, вы можете установить нужное значение */
           transform-origin: top
            center; 
       }
       .dont-have-acc {
           transform: scale(0.8); /* Примерный масштаб, вы можете установить нужное значение */
           transform-origin: top
            center; 
       }
       .money-login {
           width: 129%;
       }
   
   }
   @media (max-width:380px) { 
       .login-box {
           transform: scale(0.6); /* Примерный масштаб, вы можете установить нужное значение */
           transform-origin: top
            center; 
            height: auto;
       }
       .login123 {
           margin-bottom: 0;
           height: 570px;
       }
       .login  {
           height: 570px;
       }
   }