.err-title {
    font-family: "Mr De Haviland";
    font-size: 200px;
    color: #714F28;

}

.subt-err {
    font-size: 50px;
    color: #452722e1;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 18px;

}
.sub-sub-err {
    color: #857B5F;
    font-weight: 200;
    font-size: 22px;
    margin-bottom: 70px;

}
.btn-back {
    background-color: #A0713A;
    color:#f7e0cc;
    padding: 18px 38px;
    border-radius: 55px;
    width: 270px;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.5s ease;
    cursor: pointer;
    z-index: 3;
    margin-top: 20px;
    
}
.btn-back:hover {
    background-color: #825a2c;
}
.left {
    font-family: "Montserrat", sans-serif;
    padding-left: 190px;
    padding-top: 100px;
}
.no-page {
    display: flex;
    height: 800px;
}
.right {
    margin-top: 80px;
    margin-left: 210px;
}