.logo-manage {
    margin-top: 16px;
    margin-left: 26px; 
}

.login-signup {
    position: absolute;
    right: 28px;
    top: 14px;
}

.balance {
    width: 966px;
    height: 188px;
    background-color: #1B1B1B;
    border-radius: 57px;
    display: flex;
    flex-direction: row;
}

.money {
    display: flex;
    justify-content: center;
    margin-top: 50px;


}

.title-balance {
    background: none;
    font-size: 57px;
    color: #C8C8C8;
    margin-left: 51px;
    margin-top: 58px;
    width: fit-content;

}

.finance {
    background: none;

}

.fin {
    background: none;
    width: fit-content;
    max-width: 400px;
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 57px;
    background-color: #232323;
    color: #00AA3F;
    font-size: 50px;
    margin-top: 50px;
    padding: 0px 40px;
    position: absolute;
    right: 22%;
    cursor: pointer;

}

.valute {
    background: none;
    margin-left: 15px;
    font-size: 30px;
    margin-top: 12px;
}

.valute-li {
  color:#00AA3F;
  background:none;
}
 .select-valute {
  color:#00AA3F;
  border: none;
  outline: none;
  background:none;
  background-color: #232323;
  font-size: 24px;

}
.incomes {
    /* width: 966px;
    position: relative;
    min-height: 300px;
    background-color: #1B1B1B;
    border-radius: 57px;
    display: flex;
    flex-direction: column; */
    background:none;

}
.box-incomes {
    width: 966px;
    position: relative;
    min-height: 200px;
    background-color: #1B1B1B;
    border-radius: 57px;
    display: flex;
    flex-direction: column;
}
.title-incomes {
    background: none;
    color: #636363;
    margin-top: 19px;
    font-size: 29px;
    margin-left: 35px;
}

.incomes-box {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
}

.btn-add {
    background: none;
    width: fit-content;
    margin-left: 44px;
    font-size: 29px;
    color: #00270E;
    padding: 9px 40px;
    background-color: #045C24;
    border-radius: 30px;
    /* position: absolute; */
    margin-bottom: 34px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.btn-add:hover {
    background-color: #029237;
    transform: scale(1.1);
}
.btn-addd, .btn-addd1 {
    width: 53%;
    background:none;
    height: 93px;
}
.btn-add1 {
  background: none;
  width: fit-content;
  margin-left: 44px;
  font-size: 29px;
  color: #00270E;
  padding: 9px 40px;
  background-color: #045C24;
  border-radius: 30px;
  position: absolute;
  bottom: 34px;
  cursor: pointer;
  transition: all 0.3s ease;


}
.btn-add-exp {
  width: 53%;
  background:none;
}
.box-expendes {
    width: 966px;
    position: relative;
    min-height: 260px;
    background-color: #1B1B1B;
    border-radius: 57px;
    display: flex;
    flex-direction: column;

}

.title-expendes {
    background: none;
    color: #636363;
    margin-top: 19px;
    font-size: 29px;
    margin-left: 35px;
    background:none
}

.expendes-box {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
}
.info-expendes, .expendes , .info-expends{
  background:none;
}

/* .btn-add1 {
    background: none;
    width: fit-content;
    margin-left: 44px;
    font-size: 29px;
    color: #00270E;
    padding: 9px 40px;
    background-color: #045C24;
    border-radius: 30px;
    position: absolute;
    bottom: 34px;
    cursor: pointer;
    transition: all 0.3s ease;

} */

.btn-add1:hover {
    background-color: #029237;
    transform: scale(1.1);
}

.check-box {
    width: 966px;
    position: relative;
    height: 188px;
    background-color: #1B1B1B;
    border-radius: 57px;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: row;


}

.check {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 130px;

}

.check-text {
    background: none;
    font-size: 33px;
    color: #8B8B8B;
    padding: 52px 63px;

}

.btn-calc {
    background: none;
    margin-top: 76px;
}

.btn-calculation {
    font-size: 30px;
    padding: 24px 32px;
    border: 4px solid #045C24;
    color: #045C24;
    text-decoration: none;
    background: none;
    border-radius: 59px;
    cursor: pointer;
    transition: all 0.5s ease;


}

.btn-calculation:hover {
    color: #059038;
    border: 4px solid #059038;
}


.incomes-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  /* .box-incomes {
    width: 100%;
  } */
  
  .input-row {
    display: flex;
  }
  
 
  .incomes {
    transition: height 0.3s ease-in-out;
    overflow: hidden;
  }
  
  .input-row {
    
    background:none;
  }
  
  .input-group {
    display: flex;
    margin-bottom: 7px;
  }
  
  .incomes.visible {
    height: auto;
  }
  
   .input-time, .input-time1 {
    width: 200px;
    background:none;
    font-size: 29px;
    margin-left: 30px;
    font-family: 'Montserrat', sans-serif;


  }
  .info-expends {
    margin-top: 40px;
  }
  .input-number, .input-number1 {
    width: 155px;
    background:none;
    font-size: 29px;
    color: #00822f;
    font-family: 'Montserrat', sans-serif;
     padding-left: 10px;
  }
  .input-number::placeholder {
    padding-left: 0px;
   }
  .input-text, .input-text1 {
    width: 340px;
    background:none;
    font-size: 29px;
    margin-left: 40px;
    color: #525252;
    font-family: 'Montserrat', sans-serif;
    margin-right: 30px;

  }
   .input-text::placeholder, .input-text1::placeholder {
    padding-left: -5px;
   }
  .input-time:focus, .input-number:focus, .input-text:focus , .input-time1:focus, .input-number1:focus, .input-text1:focus{
    border: none;
    outline: none;
}
  .input-group {
    background:none;
  }
  .info-incomes, .info-expendes {
    background:none;
    margin-top: 40px;
    height: fit-content;
    
  }
.input-row span {
  color: transparent;
  transition: color 0.3s ease-in-out; 
  color:#00822f;
  font-size: 40px;
  background:none;
  display: flex;
  align-items: center;
  height: fit-content;
  margin-top: 5px;
 
}

.input-number:hover .plus,
.input-number input:focus + .plus {
  color: #00822f; 
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; 
}

span.span-kgz {
font-size: 30px;
margin-top: 12px;
}

span.delete-btn {
  display: inline-block; 
  cursor:pointer;
  color : rgb(140, 2, 2);
}
.save-btn {
  cursor:pointer;

}
span.minus-sub {
  color: rgb(164, 7, 7);
}
.input-number1 {
  color: rgb(164, 7, 7);
}
.select-container {
  margin: 0px 80px;
  margin-left: 80px;
  width: 270px;
  background: none;
  height: 62px;
  font-size: 27px;
  color: #646363;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border: none;
  max-height: 100px; /* Задаете максимальную высоту контейнера */
  overflow-y: auto; 
  border: none;

}
.input-selector1:focus {
  border: none;
    outline: none;

}
.select-container select {
  height: 40px; /* Замените 40px на желаемую высоту */
  width: 100%;
  padding: 5px;
}

