

.header-img{
    margin-top: 16px;
    margin-left: 4px;
}
.bg-move-left {
    position: absolute;
    left: -130px;
    top: -170px;
    animation: slideIn 3s forwards;

}

.img-bg-login {
    width: 1100px;

}
.bg-login-all {
    display: flex;
    
}
.bg-move-right {
    position: absolute;
    right: -140px;
    margin-top: -50px;
    animation: slideIn2 3s forwards;

}
.img-bg-login-right {
    width: 850px;
}

body, html {
    overflow-x: hidden;
  }

  @keyframes slideIn {
    from {
      transform: translateX(-200%); /* Начальное положение за пределами видимости */
    }
    to {
      transform: translateX(0); /* Конечное положение, показать изображение */
    }
  }
  @keyframes slideIn2 {
    from {
      transform: translateX(200%); /* Начальное положение за пределами видимости */
    }
    to {
      transform: translateX(0); /* Конечное положение, показать изображение */
    }
  }
.logo-btn {
    z-index: 3;
    position: relative;
}