.logo {
    margin-top: 10px;
    margin-bottom: 8px;
    width: fit-content;
    margin-left: 26px;
}
.main-logo {
    width: 88px;
    height: auto;
}


.header-button {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: lighter;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    transition: color 0.3s ease;
    position: relative;
    z-index: 2;
    background-color: transparent;
    border: none;
}

.header-button::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #045C24;
    position: absolute;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s ease;
}

.header-button:hover::after {
    transform: scaleX(1);
}

.header-button:hover {
    color: #045C24;
    text-decoration: none;
}

.header div {
    z-index: 1000;
    display: flex;
    flex-direction:row;
}

.navbar {
    display: flex;
    align-items: center !important;
    width: 60%;
    justify-content: space-around ;
    position: absolute;
    right: 0;
    margin-top: 20px;
    
}
.header  {
    position: sticky;
    top:0;
    z-index: 10000;
}


@media (max-width:1030px) {
    .header-button {
        font-size: 23px;
    }
    #person {
        width: 45px;
        margin-top: 0;
    }
    .main-logo {
        width: 60px;
    }
    .navbar {
        margin-top: 10px;
    }
    
}
@media (max-width:780px) { 
    .header-button {
        font-size: 18px;
    }
    #person {
        width: 38px;
    }
    .main-logo {
        width: 50px;
    }
}


@media (max-width:570px) { 
    .header-button {
        display: none;
    }
  .custom-tooltip {
    position: absolute;
    right: -50px;
  }
  .tooltiptext {
    position: absolute;
    left: -63%;
    top: 88%;
  }
    .main-logo {
        margin-left: -10px;
    }
}
@media (max-width:570px) { 
    .custom-tooltip {
        position: absolute;
        right: -30px;
      }
}



